alabaster==0.7.12
attrs==20.3.0
Babel==2.8.0
certifi==2020.11.8
chardet==3.0.4
coverage==5.3
dbus-next==0.2.1
docutils==0.16
flake8==3.8.4
i3ipc==2.2.1
idna==2.10
imagesize==1.2.0
iniconfig==1.1.1
Jinja2==2.11.3
livereload==2.6.3
MarkupSafe==1.1.1
mccabe==0.6.1
packaging==20.4
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pyflakes==2.2.0
Pygments==2.7.2
pyparsing==2.4.7
pytest==6.1.2
pytest-asyncio==0.14.0
pytest-cov==2.10.1
pytest-timeout==1.4.2
pytz==2020.4
requests==2.24.0
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.3.0
sphinx-autobuild==2020.9.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-asyncio==0.3.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-fulltoc==1.2.0
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
toml==0.10.2
tornado==6.1
urllib3==1.25.11
yapf==0.30.0
